@import "compass/css3";
@import "compass/reset";

html {
  background: {
    image: image-url('background.jpg');
    repeat: no-repeat;
  }
  @include background-size(cover);
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  padding: 40px;
  width: 70%;
  background-color: rgba(50, 50, 50, 0.60);
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}
