%script{src: '/vendor/imagesloaded/imagesloaded.pkgd.min.js'}
%script{src: '/vendor/masonry/dist/masonry.pkgd.min.js'}
%script{src: '/vendor/lightbox2/js/jquery-1.11.0.min.js'}
%script{src: '/vendor/lightbox2/js/lightbox.min.js'}

%script{src: '/js/main.js'}
