%meta{charset: 'UTF-8'}
%meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%link{rel: 'stylesheet', href: '/vendor/pure/pure-min.css'}
%link{rel: 'stylesheet', href: '/vendor/pure/grids-responsive-min.css'}
%link{rel: 'stylesheet', href: '/vendor/lightbox2/css/lightbox.css'}
%link{rel: 'stylesheet', href: '/css/main.css'}
