!!!
%html{lang: 'en'}
  %head
    = haml :'head'
    %title Emily Shepherd Photography

  %body
    %header
      %h2
        %a{href: '/'} Emily Shepherd Photography
    %div
      = yield
  %foot
    = haml :'foot'
